@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/*---------------------LOADING SCREEN----------------------------------------*/
.Loading {
  background-color: #242424;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
}
.Loading-container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  max-height: 100vh;
}

/*---------------------------------NAV CONTAINER------------------------------*/

.nav-container {
  display: grid;
  place-items: center;
}

.nav-container h1 {
  color: #fff;
  font-size: 55px;
  font-weight: 600;
  margin: 10px;
}
.nav-container h1 span {
  color: #20bf6b;
}

.nav-container img {
  width: 20rem;
  height: 20rem;
  place-self: center;
}

.form-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
form {
  display: grid;
  place-items: center;
}
form h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

form input {
  color: #fff;
  font-size: 1rem;
  width: 10rem;
  height: 2rem;
  padding: 0.2rem;
  background: none;
  border: solid 2px #fff;
  border-radius: 1rem;
  margin: 1rem;
}

form button {
  color: #fff;
  width: 5rem;
  height: 4rem;
  margin: 10px;
  border: solid 1px #fff;
  padding: 1rem;
  border-radius: 3rem;
  background: transparent;
}

/*-------------------------------------DIMENSION INFO-------------------------------------------*/

.Location {
  display: grid;
  place-items: center;
}

.Location h1 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.2rem;
  margin-top: 1rem;
}

.Location-container__name {
  color: #fcfcfc;
  display: grid;
  place-items: center;
}

.Location-container__name h2 {
  color: #fcfcfc;
  margin: 2rem;
  font-size: 3rem;
  font-weight: 200;
}

.Location-container__name li {
  display: inline;
  margin: 4rem;
  font-size: 1.3rem;
  font-weight: 300;
  list-style: none;
}

.Location-container__name span {
  color: #20bf6b;
  font-weight: 600;
}

/*---------------------------------IMAGES AND INFO--------------------------------------*/

.card {
  padding: 1rem;
  margin: 4rem;
  border-radius: 3rem;
  background: #202022;
  box-shadow: inset 41px 41px 82px #1b1b1d, inset -41px -41px 82px #252527;
  width: auto;
  height: auto;
  max-width: 16rem;
  display: grid;
  place-items: center;
}

.card img {
  margin-top: 0.2rem;
  width: 13rem;
  height: auto;
}

.card h1 {
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  margin-top: 2rem;
}

.card ul li {
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  list-style-type: none;
  margin-top: .2rem;
}
.card ul li span {
  color: #20bf6b;
  padding: 10px;
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}
.Status_Container {
  background: #202022;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
}
.Status_Text {
  color: #fcfcfc;
  font-size: 1.4rem;
}
.circle {
  display: grid;
  place-content: center;
  place-self: center;
  color: #fff;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1rem;
  height: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #fcfcfc;
  margin-right: .2rem;
}

.Alive{
  background-color: #20bf6b;
}
.Dead{
  background-color: #b94343;
}
.unknown{
  background-color: #585858;
}

/*----------------------MEDIA----------------------------*/

@media (max-width: 769px) {
  .nav-container h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin: 10px;
  }
  .nav-container img {
    width: 340px;
    height: 340px;
    place-items: center;
  }
  form h3 {
    color: #fff;
    font-size: 22px;
  }

  form input {
    font-size: 22px;
    width: 180px;
    height: 42px;
  }

  form button {
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin: 2px;
    margin-top: 15px;
  }
  .Location h1 {
    font-size: 30px;
  }
  .Location-container h2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
  }
  .Location-container li {
    margin: 20px;
    font-size: 20px;
  }

  .card h1 {
    font-size: 32px;
  }

  .card ul li {
    margin-left: 10px;
    font-size: 22px;
  }
  .card ul li span {
    font-size: 26px;
  }
}

@media (max-width: 425px) {
  .nav-container h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin: 10px;
  }
  .nav-container img {
    width: 340px;
    height: 340px;
    place-items: center;
  }
  form h3 {
    color: #fff;
    font-size: 22px;
  }

  form input {
    font-size: 22px;
    width: 180px;
    height: 42px;
  }

  form button {
    font-size: 20px;
    width: 120px;
    height: 50px;
    margin: 2px;
    margin-top: 15px;
  }
  .Location h1 {
    font-size: 20px;
  }
  .Location-container h2 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    margin-top: 2px;
  }
  .Location-container li {
    font-size: 1rem;
  }
  .Location-container ul li {
    display: flex;
  }

  .card img {
    width: 80%;
    height: 300px;
    border-radius: 10px;
  }

  .card h1 {
    font-size: 20px;
  }

  .card ul li {
    font-size: 14px;
    margin-top: -5px;
  }
  .card ul li span {
    font-size: 16px;
  }
}

@media (max-width: 375px) {
  .Location-container ul {
    display: grid;
    grid-template-rows: auto auto auto;
  }
  .Location-container ul li {
    margin: 8px;
    font-size: 16px;
  }
  .card img {
    width: 80%;
    height: auto;
    border-radius: 10px;
  }

  .card h1 {
    font-size: 18px;
  }

  .card ul li {
    margin-left: 10px;
    font-size: 16px;
  }
  .card ul li span {
    font-size: 16px;
    color: #20bf6b;
  }
}

@media (max-width: 390px) {
  .Location-container li {
    margin: 4px;
    font-size: 16px;
  }
}
@media (max-width: 320px) {
  .nav-container h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin: 10px;
  }
  .nav-container img {
    width: 240px;
    height: 240px;
    place-items: center;
  }
  .Location-container ul {
    display: grid;
    grid-template-rows: auto auto auto;
  }
  .Location-container ul li {
    margin: 8px;
    font-size: 16px;
  }
}

@media (min-width: 2560px) {
  .nav-container h1 {
    color: #fff;
    font-size: 130px;
    font-weight: 600;
    margin: 10px;
  }
  .nav-container img {
    width: 640px;
    height: 640px;
    place-items: center;
  }
  form h3 {
    color: #fff;
    font-size: 32px;
  }

  form input {
    font-size: 42px;
    width: 380px;
    height: 90px;
  }

  form button {
    font-size: 40px;
    width: 220px;
    height: 90px;
    margin: 2px;
    margin-top: 15px;
  }
  .Location h1 {
    margin-top: -60px;
    margin-bottom: -30px;
    font-size: 30px;
  }
  .Location-container h2 {
    color: rgb(255, 255, 255);
    font-size: 70px;
  }
  .Location-container li {
    margin: 20px;
    font-size: 50px;
  }
  .card {
    width: 520px;
    height: 700px;
    display: grid;
    place-content: center;
  }
  .card img {
    width: 95%;
    height: 420px;
    border-radius: 10px;
  }

  .card h1 {
    font-size: 40px;
  }

  .card ul li {
    margin-left: 10px;
    font-size: 30px;
  }
  .card ul li span {
    font-size: 33px;
  }
}
